.content {
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    padding: scut-em(208) 0 scut-em(40);

    @media (max-width: 1180px) {
        padding: 250px 0 20px;
    }

    @media (max-width: 769px) {
        height: auto;
    }
}

.content__inner {
    width: 67.3%;
    min-width: 300px;
    margin: 0 auto;
    padding: scut-em(54 15);
    background-color: #fff;
    height: calc(100vh - #{scut-em(248)});
    overflow: auto;

    @media (max-width: 1180px) {
        height: calc(100vh - 290px);
        width: 85%;
    }

    @media (max-width: 769px) {
        width: 95%;
        height: auto;
    }

    h1, h2, h3, h3, h4, h5, h6 {
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 scut-em(21, 30);
        padding: 0;
        font-size: scut-em(30);

        span {
            &:before,
            &:after {
              margin: 0 scut-em(16);
              content: '•';
              font-size: scut-em(16, 20);
            }
          }
    }

    p {
        font-size: scut-em(14);
        line-height: 1.2;
        margin-bottom: scut-em(12, 14);
        margin-top: scut-em(14, 14);
    }

    img {
        max-width: 100%;
        display: block;
    }
} 

.content__scrollable {
    position: relative;
    height: 100%;
    overflow: auto;
    padding: 0 scut-em(135);

    @media (max-width: 1500px) {
        padding: 0 scut-em(60); 
    } 

    @media (max-width: 768px) {
        padding: 0 scut-em(30); 
    }

    @media (max-width: 550px) {
        padding: 0 scut-em(10); 
    }
}

.ps__rail-y {
    right: 0 !important;
    left: auto !important;
}

.icons {
    margin: scut-em(20) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 650px) {
        display: block;
    }
}

.icon {
    margin: scut-em(20) 0;
    flex: 1 0 46%;
    max-width: 46%;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 650px) {
        width: 100%;
        max-width: 100%;
    }

    @media (max-width: 550px) {
        flex-direction: column;
        align-items: center;
    }

    .icon__title {
        text-align: left;
        font-size: 1.15em;
        padding-bottom: 6px;
        border-bottom: 2px solid lightgrey;
        transition: 0.2s;
    }

    &:hover {
        .icon__img {
            background-color: #e39523;
        }

        .icon__title {
            border-color: #e39523;
        }
    }
}

.icon__img {
    width: scut-em(120);
    min-width: scut-em(120);
    height: scut-em(120);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    transition: 0.2s;

    @media (max-width: 1180px) {
        width: scut-em(80);
        min-width: scut-em(80);
        height: scut-em(80);
    }

    @media (max-width: 550px) {
        margin-bottom: scut-em(25);
    }

    svg {
        width: 65%;
        height: 65%;

        path {
            fill: #fff;
        }
    }
}

.icon__content {
    max-width: calc(100% - #{scut-em(140)});

    @media (max-width: 1180px) {
        max-width: calc(100% - #{scut-em(100)});
    }

    @media (max-width: 650px) {
        width: 100%;
        max-width: 100%;
    }

    p {
        margin-bottom: scut-em(7);
    }

    b, strong {
        font-weight: bold;
    }
}