footer.footer
    .footer__top
        .container
            h5.footer__title Мы в соцсетях
            .footer__socials
                a(href=socials.in target="_blank").footer__social.footer__social_in
                    span.flaticon-instagram-logo
                    | Instagram
                a(href=socials.vk target="_blank").footer__social.footer__social_vk
                    span.flaticon-vk-social-network-logo
                    | VK
                a(href=socials.fb target="_blank").footer__social.footer__social_fb
                    span.flaticon-facebook-logo
                    | Facebook
    .footer__bot
        .container
            p.footer__left @2017  Дмитрий Кукин
            p.footer__right= "Сайт сделан в" + " "
                a(href="http://web.antares-labs.ru/" target="_blank") Antareslabs