.slider
    .slider__slide(style="background-image: url('images/gagarina.jpg')")
        .container
            .slider__content
                h2.slider__title Полина Гагарина
                p.slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.

    .slider__slide(style="background-image: url('https://unsplash.it/1920/1080')")
        .container
            .slider__content
                h2.slider__title Гагарина Гагарина
                p.slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nu

    .slider__slide(style="background-image: url('https://unsplash.it/1920/1080/?random')")
        .container
            .slider__content
                h2.slider__title Полина Полина
                p.slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin grllus mollis orci, sed rhoncus sapien nunc eget.
.slider__arrows